[submodule "comparativeAnnotator"]
	path = comparativeAnnotator
	url = https://github.com/ucsc-mus-strain-cactus/comparativeAnnotator.git
	master = master
[submodule "pycbio"]
	path = pycbio
	url = https://github.com/diekhans/pycbio.git
